<h1><%= @album.name %></h1>

<%= link_to "Edit #{@album.name}", edit_album_url(@album) %>
<%= button_to "Delete #{@album.name}",
    album_url(@album),
    method: :delete %>

</br>
<%= link_to @album.band.name, band_url(@album.band) %>
